version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "8000:8000"
    environment:
      - DB_HOST=cosa-analizador.mysql.database.azure.com
      - DB_USER=Martin
      - DB_PASSWORD=FILOMENO.2025
      - DB_NAME=cosa-analizador
      - DB_PORT=3306
    volumes:
      - ./src:/app/src
      - ./backend:/app/backend
