<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" arguments="-m uvicorn backend.main:app --host 0.0.0.0 --port %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="120" processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONUNBUFFERED" value="true" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
